{% include head.html %}
{% include header.html %}

{% assign reporting_data = site.data.reporting %}
{% if site.data[page.language].reporting %}
  {% assign reporting_data = site.data[page.language].reporting %}
{% endif %}

{% assign disagg_data = site.data.disaggregation %}
{% if site.data[page.language].disaggregation %}
  {% assign disagg_data = site.data[page.language].disaggregation %}
{% endif %}

{%- assign extra_fields = false -%}
{%- for extra_field in reporting_data.extra_fields -%}
  {%- assign extra_fields = true -%}
{%- endfor -%}

{% assign show_tabs = false %}
{% if extra_fields %}
  {% assign show_tabs = true %}
{% elsif site.reporting_status.disaggregation_tabs and disagg_data %}
  {% assign show_tabs = true %}
{% endif %}
<div class="container">
  {% include components/page/breadcrumbs.html %}
</div>